.card-form {
  background: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: calc(160px - 48px);
  margin-bottom: 24px;
  max-width: calc(400px - 24px);
  overflow: hidden;
  padding: 24px 12px;
  transition: 0.2s background ease-in-out;
  text-decoration: none;

  &:hover {
    background: $white;

    span {
      color: $primary-color;
    }

    .card-form {
      &-title {
        color: $primary-color;
      }

      &-container {
        &:after {
          background: $primary-color;
        }
      }
    }
  }

  @include responsive(t-xs) {
    margin-bottom: 0;
    width: calc(100% - 28px);
  }

  &-title {
    @include ellipsis;
    color: $white;
    font-size: 32px;
    margin-bottom: 32px;
    transition: 0.2s color ease-in-out;
  }

  span {
    color: $white;
    transition: 0.2s color ease-in-out;
  }

  &-wrapper {
    display: flex;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 24px;
    position: relative;

    &:after {
      background: $white;
      content: "";
      height: 100%;
      position: absolute;
      right: -12px;
      top: 0;
      transition: 0.2s background ease-in-out;
      width: 1px;

      @include responsive(s) {
        right: -24px;
      }

      @include responsive(t-xs) {
        right: -12px;
      }

      @include responsive(d-xs) {
        right: -16px;
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    @include responsive(s) {
      margin-right: 48px;
    }

    @include responsive(t-xs) {
      margin-right: 24px;
    }

    @include responsive(d-xs) {
      margin-right: 32px;
    }
  }

  &-text {
    font-size: 16px;
    margin-bottom: 12px;
  }

  &-value {
    @include ellipsis;
    align-items: center;
    display: flex;
    font-size: 14px;
    height: 20px;
    max-width: 110px;

    @include responsive(s-xs) {
      max-width: 150px;
    }
  }

  &-avatar {
    height: 20px;
    margin-right: 6px;
    min-height: 20px;
    min-width: 20px;
    width: 20px;
  }
}
