%btn {
  align-items: center;
  background: $primary-color;
  background: linear-gradient(
    90deg,
    $white 50%,
    $primary-color 50%
  );
  background-position: right;
  background-size: 200% 100%;
  border: 1px solid $primary-color;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  display: flex;
  height: 52px;
  justify-content: center;
  margin-top: 24px;
  text-decoration: none;
  transition: 0.25s color ease-in-out,
    0.25s background-position ease-in-out,
    0.25s fill ease-in-out;
  width: 100%;

  &:hover {
    background-position: left;
    color: $primary-color;
  }
}

.btn {
  &-contact {
    @extend %btn;
    height: 40px;
    margin-top: 0;
    min-height: 40px;
    width: 110px;

    &-container {
      padding-top: 8px;

      @include responsive(t-xs) {
        padding-top: 0;
      }
    }
  }

  &-disconnect {
    @extend %btn;
    background: $primary-color-light;
    background: linear-gradient(
      90deg,
      $white 50%,
      $primary-color-light 50%
    );
    background-position: right;
    background-size: 200% 100%;
    border: 1px solid $primary-color-light;
    height: 42px;
    margin-top: 8px;
    min-height: 40px;
    width: 112px;

    &:hover {
      background-position: left;
      color: $primary-color-light;
    }

    @include responsive(t-xs) {
      margin-top: 0;
      margin-right: 12px;
    }
  }

  &-submit {
    @extend %btn;
    font-size: 18px;

    &:hover {
      .btn-submit-loading {
        fill: $primary-color;
      }
    }

    &-loading {
      animation: rotate 1s linear infinite;
      fill: $white;
      height: 40px;
      transition: 0.25s fill ease-in-out;
      width: 40px;
    }

    &-disabled {
      background: $primary-color-lighter;
      color: $primary-color;
      cursor: default;
    }
  }

  &-edit {
    @extend %btn;
    border-radius: 4px;
    fill: $white;
    font-size: 16px;
    margin-left: 12px;
    margin-top: 0;
    padding: 8px;
    width: 52px;

    &:hover {
      fill: $primary-color;
    }
  }

  &-create {
    @extend %btn;
    height: 36px;
    padding: 0 12px;
    width: auto;

    &-icon {
      fill: $white;
      height: 16px;
      margin-right: 6px;
      transition: 0.25s fill ease-in-out;
      width: 16px;
    }

    &-title {
      color: $white;
      transition: 0.25s color ease-in-out;
    }

    &:hover {
      .btn-create {
        &-icon {
          fill: $primary-color;
        }

        &-title {
          color: $primary-color;
        }
      }
    }

    @include responsive(t-xs) {
      margin-top: 0;
    }
  }

  &-delete {
    @extend %btn;
    background: $error-color;
    background: linear-gradient(
      90deg,
      $white 50%,
      $error-color 50%
    );
    background-position: right;
    background-size: 200% 100%;
    border: 1px solid $error-color;
    height: 40px;
    margin-top: 0;
    min-height: 40px;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s opacity ease-in-out,
      0.25s background-position ease-in-out;
    width: 110px;

    &-icon {
      display: flex;
      fill: $white;
      height: 18px;
      margin-right: 4px;
      transition: 0.25s fill ease-in-out;
      width: 18px;
    }

    &-title {
      color: $white;
      transition: 0.25s color ease-in-out;
    }

    &-active {
      opacity: 1;
      pointer-events: all;
    }

    &-loading {
      animation: rotate 1s linear infinite;
      fill: $white;
      height: 24px;
      transition: 0.25s fill ease-in-out;
      width: 24px;
    }

    &:hover {
      .btn-delete {
        &-icon {
          fill: $error-color;
        }

        &-title {
          color: $error-color;
        }

        &-loading {
          fill: $error-color;
        }
      }
    }
  }

  &-modal {
    &-close {
      align-items: center;
      cursor: pointer;
      display: flex;
      fill: $black;
      height: 32px;
      justify-content: center;
      position: absolute;
      right: 12px;
      top: 24px;
      transition: 0.5s transform
        $reverse-cubic-bezier;
      width: 32px;
      z-index: 1;

      &:hover {
        transform: rotate(180deg);
      }

      @include responsive(t-xs) {
        right: 24px;
        top: 24px;
      }

      @include responsive(d-xs) {
        right: 32px;
        top: 32px;
      }
    }
  }
}
