.no-data-found {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 96px;

  &-icon {
    display: flex;
    fill: $black;
    height: 64px;
    margin-bottom: 24px;
    width: 64px;
  }

  &-title {
    font-size: 32px;
    text-align: center;
  }

  &-large-t-xs {
    @include responsive(t-xs) {
      width: 200%;
    }
  }
}
