.table {
  table-layout: fixed;
  width: calc(100% - 1px);

  &-title {
    align-items: center;
    display: flex;
    margin-bottom: 12px;
    max-width: 100%;

    @include responsive(t-xs) {
      margin-bottom: 0;
      margin-right: 12px;
      max-width: calc(100% - 132px);
    }

    &-label {
      @include ellipsis;
      display: inline-block;
      font-size: 32px;
      line-height: 42px;
      margin-right: 6px;
      width: 80%;

      @include responsive(t-xs) {
        width: 85%;
      }
    }

    &-number {
      font-size: 24px;
      color: $grey;
    }

    &-header {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;

      @include responsive(t-xs) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &-loader {
    animation: rotate 1s linear infinite;
    display: flex;
    fill: $primary-color;
    height: 128px;
    margin: 64px auto 0;
    transition: 0.25s fill ease-in-out;
    width: 128px;
  }

  &-margin-bottom {
    margin-bottom: 64px;
  }

  &-btn {
    position: relative;
    height: 40px;
    margin-bottom: 12px;
  }
}
