.table-body {
  &-row {
    position: relative;
  }

  &-checkbox {
    border: 1px solid $secondary-color;
    vertical-align: middle;

    label {
      align-items: center;
      display: flex;
      height: 36px;
      justify-content: center;
    }
  }

  &-column {
    @include ellipsis;
    border: 1px solid $secondary-color;
    padding: 0 4px;
    vertical-align: middle;

    &-tooltip {
      cursor: pointer;
    }
  }
}
