.table-body {
  &-row {
    position: relative;

    &-active {
      .table-body {
        &-checkbox,
        &-column {
          border-bottom: 1px solid
            $primary-color-light;
        }
      }
    }
  }

  &-checkbox,
  &-column {
    border: 1px solid $secondary-color;
    vertical-align: middle;
    transition: 0.25s border-bottom ease-in-out;
  }

  &-checkbox {
    label {
      align-items: center;
      display: flex;
      height: 36px;
      justify-content: center;
    }
  }

  &-column {
    @include ellipsis;
    padding: 0 4px;

    &-tooltip {
      cursor: pointer;
    }

    &-delete {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 36px;
      justify-content: center;
      width: 100%;

      &-icon {
        align-items: center;
        display: flex;
        height: 18px;
        fill: $black;
        justify-content: center;
        transition: 0.25s fill ease-in-out;
        width: 18px;
      }

      &:hover {
        .table-body-column-delete-icon {
          fill: $error-color;
        }
      }
    }
  }
}
