.tooltip-table {
  align-items: center;
  display: flex;
  justify-content: center;
  position: static;

  &-dot {
    display: flex;
    height: 4px;
    justify-content: space-between;
    width: 18px;

    &-one,
    &-two,
    &-three {
      background: $black;
      border-radius: 50%;
      display: inline-block;
      height: 4px;
      width: 4px;
    }
  }

  &-modal {
    background-color: $white;
    border-radius: 4px;
    height: 0px;
    right: 0;
    overflow: hidden;
    position: absolute;
    top: calc(50% + 4px);
    transition: 0.25s width ease-in-out,
      0.25s height ease-in-out;
    width: 0px;
    z-index: 1;

    &-border {
      border: 2px solid $black;
      border-radius: 4px;
      display: flex;
      height: calc(100% - 4px);
      flex-direction: column;
    }

    &-btn {
      &-edit,
      &-delete,
      &-recover {
        background: $white;
        background: linear-gradient(
          90deg,
          $primary-color 50%,
          $white 50%
        );
        background-position: right;
        background-size: 200% 100%;
        cursor: pointer;
        height: 50%;
        font-size: 16px;
        transition: 0.25s color ease-in-out,
          0.25s background-position ease-in-out;

        &:hover {
          background-position: left;
          color: $white;
        }
      }

      &-delete {
        align-items: center;
        background: linear-gradient(
          90deg,
          $error-color 50%,
          $white 50%
        );
        background-position: right;
        background-size: 200% 100%;
        color: $error-color;
        display: flex;
        justify-content: center;

        &-loading {
          animation: rotate 1s linear infinite;
          fill: $error-color;
          height: 24px;
          transition: 0.25s fill ease-in-out;
          width: 24px;
        }

        &:hover {
          .tooltip-table-modal-btn-delete-loading {
            fill: $white;
          }
        }
      }

      &-recover {
        align-items: center;
        background: linear-gradient(
          90deg,
          $valid-color 50%,
          $white 50%
        );
        background-position: right;
        background-size: 200% 100%;
        color: $valid-color;
        display: flex;
        justify-content: center;

        &-loading {
          animation: rotate 1s linear infinite;
          fill: $valid-color;
          height: 24px;
          transition: 0.25s fill ease-in-out;
          width: 24px;
        }

        &:hover {
          .tooltip-table-modal-btn-recover-loading {
            fill: $white;
          }
        }
      }
    }

    &-hr {
      background: $black;
      display: inline-block;
      height: 1px;
      width: 100%;
    }
  }

  &-open {
    .tooltip-table {
      &-modal {
        height: 80px;
        width: 120px;
      }
    }
  }
}
