.form-input {
  &-container {
    align-items: center;
    border: 1px solid $grey;
    border-radius: 2px;
    cursor: text;
    display: flex;
    padding: 12px 12px;
    position: relative;
    transition: 0.2s border ease-in-out;
  }

  &-icon {
    display: flex;
    height: 26px;
    fill: $secondary-color;
    margin-right: 12px;
    transition: 0.2s fill ease-in-out;
    width: 26px;
  }

  &-control {
    border: 0;
    color: $tertiary-color;
    margin-top: 8px;
    width: 100%;
  }

  &-title {
    color: $grey;
    font-size: 16px;
    left: 48px;
    pointer-events: none;
    position: absolute;
    top: 16px;
    transition: 0.2s left ease-in-out,
      0.2s top ease-in-out, 0.2s color ease-in-out,
      0.2s font-size ease-in-out;
  }

  &-mb {
    margin-bottom: 12px;
  }

  &-textarea {
    .form {
      &-input {
        &-control {
          resize: none;
        }

        &-title {
          left: 14px;
        }
      }
    }
  }

  &-password {
    &-icon {
      align-items: center;
      cursor: pointer;
      display: flex;
      fill: $secondary-color;
      height: 26px;
      justify-content: center;
      margin-left: 8px;
      transition: 0.2s fill ease-in-out;
      width: 26px;
    }
  }

  &-focus {
    border: 1px solid $primary-color-light;

    .form {
      &-input {
        &-icon {
          fill: $primary-color-light;
        }

        &-control {
          outline: none;
        }

        &-title {
          font-size: 12px;
          top: 4px;
        }

        &-password-icon {
          fill: $primary-color-light;
        }
      }
    }
  }

  &-filled {
    .form {
      &-input {
        &-title {
          font-size: 12px;
          top: 4px;
        }
      }
    }
  }

  &-error {
    border: 1px solid $error-color;

    .form-input-icon {
      fill: $error-color;
    }
  }

  &-read-only {
    background: $light;
    pointer-events: none;

    .form-input {
      &-control {
        background: $light;
      }
    }
  }
}
