.form-page {
  margin: 0 auto;
  padding: 96px 0 24px;

  @include responsive(t-xs) {
    display: flex;
    max-width: none;
    padding: 0;
  }

  &-article {
    padding: 0 12px;
    width: calc(100% - 24px);

    @include responsive(t-xs) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 96px 12px 24px;
      width: calc(70% - 24px);
    }

    @include responsive(t-xl) {
      width: calc(50% - 24px);
    }

    & > div {
      margin: auto;
      max-width: 540px;
      width: 100%;
    }
  }

  &-aside {
    background: linear-gradient(
      90deg,
      $primary-color-light,
      $black
    );
    background-size: 400% 100%;
    animation: changeBackground 10s ease infinite;
    display: none;

    @include responsive(t-xs) {
      display: block;
      min-height: 100vh;
      width: 30%;
    }

    @include responsive(t-xl) {
      width: 50%;
    }
  }

  &-side {
    display: flex;

    & > .form-input-container {
      width: 50%;

      &:first-child {
        margin-right: 6px;
      }

      &:last-child {
        margin-left: 6px;
      }
    }
  }

  &-title {
    font-size: 32px;
    margin-bottom: 8px;

    &-margin {
      margin-bottom: 24px;
    }

    &-two {
      font-size: 20px;
      margin-bottom: 12px;
      margin-top: 24px;
    }
  }

  &-subtitle {
    font-size: 18px;
    margin-bottom: 24px;
  }

  &-change-email {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    .form-input-container {
      width: 100%;
    }
  }
}

@keyframes changeBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
