.wrapper {
  &-container {
    margin: 0 auto;
    padding: 0 12px;

    @include responsive(s-xl) {
      max-width: 540px;
      padding: 0 24px;
    }

    @include responsive(t-xs) {
      max-width: 792px;
      padding: 0 32px;
    }

    @include responsive(d-xs) {
      max-width: 1000px;
    }
  }

  &-card-container {
    margin: 0 auto;
    max-width: 404px;
    padding: 0 12px;

    @include responsive(t-xs) {
      max-width: 792px;
      padding: 0 24px;
    }

    @include responsive(d-xs) {
      max-width: 1200px;
    }
  }

  &-table-container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 12px;

    @include responsive(s-xl) {
      padding: 0 24px;
    }

    @include responsive(t-xs) {
      padding: 0 32px;
    }

    @include responsive(d-xs) {
      padding: 0 48px;
    }
  }
}
